:root {
    --main-color: linear-gradient(153deg, #31CDB0 29%, #3551A4 90%);
    --light-blue-color: #F4F8FF;
    --blue-color: #3551a4;
    --crayor-color: #31cdb0;
    --red-color: #FF0000;
    --white-color: #fff;
    --black-color: #000;
    --main-font: "Inter Tight", sans-serif;
    --heading-font:"Inter Tight", sans-serif;
    --button-font: "Inter Tight", sans-serif;
    --text-font: "Inter Tight", sans-serif;
    --placeholder-font: "Archivo Narrow", sans-serif;
  }


@media (max-width:1600px) {
    .access-sec {
        padding: 50px 0px 50px;
        margin-top: -10%;
    }
    .access-div {
        padding-top: 150px;
    }
    .one-place-img img {
        width: 1080px;
    }
    .one-place-div {
        width: 38%;
    }
    .works-sec-bg {
        height: 700px;
    }
    .heading-1 h2{
        font-size: 40px;
        line-height: 50px;
    }
    .works-sec {
        position: relative;
        padding: 400px 0px 200px;
    }
    .entertainment-sec {
        padding: 400px 0px 100px;
    }
    .works-sec {
        padding: 350px 0px 150px;
    }
    .play-btn {
        width: 100px;
        height: 100px;
    }
    .play-btn button {
        font-size: 30px;
    }
    .imdb-sec {
        margin-top: -6.2%;
    }
    .abt-entertaiment {
        margin: 0;
        padding: 100px 0px 50px;
    }
    .abt-img {
        width: 750px;
        height: 460px;
    }
    .logo a {
        width: 200px;
    }
    .inr-text {
     margin-top: 20px;
   }
   .inner_banner_sec {
    height: 85vh;
   }
   .offer-img-2 {
    right: 8px;
    bottom: 4px;
    width: 340px;
    height: 261px;
   }
 
}

@media (max-width:1440px) {
    .access-sec {
        margin-top: -11%;
    }
    .one-place-img img {
        width: 970px;
    }
    .entertainment-sec {
        padding: 350px 0px 100px;
    }
    .pricing-div-box h4 {
        font-size: 30px;
    }
    .pricing-div-box::before {
        height: 45%;
    }
    .pricing-rate h4{
        font-size: 20px;
    }
    .pricing-rate h3 {
        font-size: 20px;
    }
    .pricing-list ul li {
        padding: 5px 0px;
    }
    .pricing-list ul li span {
        padding-right: 10px;
    }
    .add-text p, .add-text a {
        font-size: 18px !important;
    }
    .entertainment-img {
        margin-bottom: 15px;
    }
    .entertainment-img-text h4 {
        font-size: 18px;
        font-weight: 600;
    }
    .pricing-div-box p {
        position: relative;
        font-size: 14px;
    }
    .pricing-div-box {
        text-align: center;
        padding: 20px 20px;
    }
    .one-place::before {
        top: 100px;
        left: 0px;
        height: 70%;
        width: 40%;
    }
    .access-div {
        padding:  140px 0px;
    }
    .access-div-img {
        width: 60px;
        height: 70px 
    }
    .slide .slide__content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        width: 42%;
        text-align: center;
    }
    .slide .slide__content--headings .title {
        font-size: 40px;
        line-height: 50px;
    }
    .slider, .slide {
        height: 65vh;
    }
    .abt-entertaiment {
        margin: 0;
        padding: 100px 0px 100px;
    }
    .abt-img {
        width: 680px;
        height: 500px;
    }
    .commitment-sec::before {
        height: 375px;
    }
    .abt-access .access-div {
        padding: 50px 0px;
    }
    .imdb-slide-movie img {
        width: 200px;
        height: 100px;
    }
    .one-place-text {
       padding: 30px 50px;
   }
    .kid-tv-img {
      width: 100%;
      height: 350px;
   }
   #cssmenu>ul>li>a {
    padding: 18px 12px;
   }
   .imdb-content p {
    font-size: 18px;
    line-height: 32px;
   }
}

@media (max-width:1366px) {
    .access-sec {
        padding: 100px 0px 100px;
        margin-top: -16%;
    }
    .access-div {
        padding: 150px 0px 0px;
    }
    .one-place-img img {
        width: 860px;
    }
    .one-place::before {
        top: 60px;
        left: 0px;
        height: 80%;
        width: 40%;
    }
    .eael-circle-wrapper.eael-interactive-circle-preset-1 .eael-circle-info .eael-circle-inner .eael-circle-item .eael-circle-btn .eael-circle-btn-icon {
        text-align: center;
        padding: 10px;
    }
    .imdb-content p {
        font-size: 16px;
        line-height: 24px;
    }
    .show-num h2 {
        font-size: 80px;
        line-height: 84px;
    }
    .shows-watch-sec{
        padding: 50px 0px;
    }
    .popular-movies {
        padding: 50px 0px 0px;
    }
    .commitment-sec::before {
        height: 350px;
    }
    .offer-sec {
      padding: 50px 0px;
    }
    .offer-img {
      top: -180px;
      width: 220px;
      height: 350px;
    }
    .offer-img-2 {
    position: absolute;
    right: 0px;
    bottom: 4px;
    width: 350px;
    height: 270px;
    z-index: 10;
}
#cssmenu>ul>li>a {
    padding: 18px 8px;
}
.inr-text p {
    font-size: 14px;
    line-height: 18px;
}
.inner_banner_ontent h1 {
    font-size: 35px;
    line-height: 45px;
}
.links-1 ul li a {
    font-size: 14px;
}
.inner_banner_sec {
    height: 95vh;
}
    
}

@media (max-width:1280px) {
    .slide .slide__content--headings .title {
        font-size: 35px;
        line-height: 40px;
    }
    .access-sec {
        padding: 70px 0px 70px;
        margin-top: -11%;
    }
    .one-place-img img {
        width: 820px;
    }
    #cssmenu>ul>li>a {
        padding: 18px 10px;
    }
    .contact-sec {
        padding: 100px 0px 100px;
    }
    .heading-white h2, .heading-white h3 {
        font-size: 26px;
        line-height: 36px;
    }
    .abt-img {
        width: 600px;
        height: 400px;
    }
    .commitment-sec::before {
        height: 338px;
    }
    .sets-apart-sec {
        margin-bottom: 30px;
    }
    .offer-img {
      top: -214px;
      width: 220px;
    }
}

@media (max-width:1199.98px) {
}

@media (max-width:1024px) {
    .sign-up-btn {
        text-align: center;
    }
    .access-sec {
        margin-top: -18%;
    }
    .one-place-img img {
        width: 700px;
    }
    .heading-white h2, .heading-white h3 {
        font-size: 26px;
        line-height: 30px;
    }
    .heading-1 h2 {
        font-size: 30px;
    }
    .one-place-div {
        width: 40%;
        left: 8%;
    }
    .one-place::before {
       top: 96px;
       left: 0px;
        height: 68%;
       width: 36%;
    }
    .entertainment-sec {
        padding: 250px 0px 100px;
    }
    .heading-white p, .heading-white p {
        color: var(--white-color);
        font-size: 14px;
    }
    .works-sec {
        padding: 250px 0px 100px;
    }
    .play-btn {
        width: 70px;
        height: 70px;
    }
    .play-btn button {
        font-size: 20px;
    }
    .kids-sec {
        padding: 50px 0px 50px;
    }
    .entertainment-head .heading-1 p {
        font-size: 14px;
        line-height: 20px;
        margin-top: 15px;
    }
    .pricing-sec {
        padding: 50px 0px 50px;
    }
    .pricing-div-box h4 {
        font-size: 20px;
    }
    .pricing-div-box p {
        font-size: 12px;
    }
    .pricing-div-box::before {
        height: 48%;
    }
    .pricing-rate h3 {
        font-size: 16px;
    }
    .pricing-rate h4 {
        font-size: 16px;
    }
    .sub-btn a {
        font-size: 12px;
    }
    .pricing-list ul li {
        font-size: 12px;
    }
    .pricing-list ul li span {
        font-size: 12px;
    }
    .subscribe-head h2 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    .one-place-text {
        padding: 35px 35px;
    }
  
    #cssmenu>ul>li>a {
        padding: 18px 18px;
        font-size: 12px;
        text-decoration: none;
        font-weight: 600;
        font-family: var(--text-font);
        color: var(--blue-color);
    }
    .popular-movies{
        padding: 50px 0px 0px;
    }
    .experience-sec {
        padding: 50px 0px;
    }
    .experience-head .heading-white p {
        font-size: 16px !important;
        line-height: 20px !important;
    }
    .contact-sec {
        margin-top: -8%;
    }
    .abt-img {
        width: 450px;
        height: 300px;
    }
    .commitment-sec::before {
        height: 268px;
    }
    .abt-entertaiment {
        margin: 0;
        padding: 50px 0px 50px;
    }
    .about-sec {
        padding: 50px 0px 50px;
    }
    .sets-apart-text h3 {
        font-size: 16px;
        line-height: 20px;
    }
    .sets-apart-text p {
        font-size: 12px;
    }
    .pricing-page{
        padding: 100px 0px 50px;
    }
    .offer-img {
        position: absolute;
        left: 22px;
        top: -210px;
        width: 204px;
        height: 380px;
    }
    .offer-img-2 {
        position: absolute;
        right: 0px;
        bottom: 4px;
        width: 260px;
        height: 200px;
        z-index: 10;
    }
    .imdb-content p {
        font-size: 14px;
        line-height: 20px;
    }
    .imdb-slide-movie img {
        width: 150px;
        height: 65px;
    }
    .imdb-img-text p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
    }
     .pricing-page .pricing-bg {
       position: absolute;
       top: 0;
      left: 0;
      width: 100%; 
      height: 100%; 
  }
  .main-signup {
    /*margin-top: -26px;*/
    /*margin-left: 36px;*/
    display: none;
}
.shows-slider-img {
    height: 450px;
}
.left_top {
    display: flex;
    justify-content: start;
}
}

@media (max-width:991px) {
    .entertainment-img-div-text{
        display: none;
    }
}

@media (max-width:768px) { 
    .logo a {
        width: 150px;
    }
    .slide .slide__content--headings .title {
        font-size: 26px;
        line-height: 30px;
    }
    .access-div {
        padding: 100px 0px 0px;
    }
    .one-place-img img {
        width: 100%;
    }
    .heading-white h3 {
        font-size: 24px;
        line-height: 28px;
    }

    .one-place-text {
        padding: 25px 25px;
    }
    .entertainment-img {
        margin-bottom: 0px;
    }
    .entertainment-sec {
        padding: 200px 0px 50px;
    }
    .works-sec {
        padding: 200px 0px 50px;
    }
    .ftr-link-1 ul li a {
        font-size: 12px;
    }
    .find-us h4 {
        margin-bottom: 10px;
    }
    .view-btn {
        font-size: 14px;
    }
    .subscribe-head h2 {
        font-size: 24px;
    }
    .one-place-div{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        transform: translate(-0%, -0%);
    }
    .one-place-circle {
        position: absolute;
        width: 100%;
        top: -5%;
        left: 0;
        right: 0;
        transform: translate(-0%, -0%);
    }
    .imdb-img-text p {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 25px;
    }
    .imdb-content p {
        font-size: 14px;
        line-height: 22px;
    }
    .imdb-slide-movie img {
        width: 200px;
        height: 30px;
    }
    .imdb-img {
        width: 70px;
        height: 30px;
        margin-bottom: 10px;
    }
    .imdb-slide-rate ul li a {
        color: #ffde13;
        font-size: 10px;
    }
    .sign-up-btn a {
        padding: 8px 20px;
    }
    .imdb-sec {
        margin-top: -9%;
    }
    .contact-sec {
        margin-top: -10%;
    }
    .abt-img {
        position: relative;
    }
    .about-sec::before{
        display: none;
    }
    .abt-access {
        padding: 50px 0px 0px;
    }
    .commitment-sec::before {
        height: 100%;
        width: 100%;
        top: 0;
    }
    .commitment-sec {
        padding: 50px 0px 0px;
    }
    .abt-entertaiment {
        margin: 0;
        padding: 50px 0px 50px;
    }
    .offer-div{
        margin-bottom: 20px;
    }
    .offer-img-2 {
        position: absolute;
        right: 0px;
        bottom: 4px;
        width: 190px;
        height: 140px;
        z-index: 10;
    }
    .imdb-slide-text {
        position: relative;
        top: 0;
        right: 0;
        z-index: 10;
        width: 100%;
        transform: translate(-0%, -0%);
        text-align: right;
        background: #000;
        padding: 30px;
    }
    .one-place::before{
      display: none;    
    }
    .imdb-slider .slick-nav.next-arrow{
        display: none !important;
    }
     .imdb-slider .slick-nav.prev-arrow{
        display: none !important;
    }
    .imdb-slide-img {
      position: relative;
      height: 65vh;
   }
    .offer-div {
      min-height: auto;
    }
    .imdb-slide-text {
    position: absolute;
    top: 0%;
    right: auto;
    left: 0;
    z-index: 10;
    width: 100%;
    transform: translate(-0%, 0%);
    text-align: right;
    background: transparent;
    padding: 30px 20px;
  }
  .imdb-slide-movie{
    visibility: hidden;    
  }
  .imdb-slide-rate{
    visibility: hidden;  
  }
  .shows-slider-img{
    height: 610px;  
  }
  .shows-slider-box {
    margin: 0px 20px 30px;
 }
 .modal-1 .modal-body iframe {
    height: 400px;
 }
}


@media (max-width:767px) {
    .one-place::before{
        display: none;
    }
    .one-place-div {
        width: 100%;
    }
    .entertainment-sec {
        padding: 180px 0px 50px;
    }
    .play-btn {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -75%);
    }
    .play-btn {
        width: 30px;
        height: 30px;
        border: 2px solid #fff;
    }
    .play-btn button {
        font-size: 10px;
    }
    .works-sec {
        padding: 100px 0px 50px;
    }
    .unbeatable-sec {
        padding: 30px 0px 0px;
    }
    .add-text p, .add-text a {
        font-size: 14px !important;
    }
    .footer-logo {
       width: 115px;
       margin: 0px auto 20px;  
    }
    .pricing-div-box::before {
        height: 40%;
    }
    .access-div {
        padding: 100px 0px 0px;
    }
    .left_top {
        justify-content: flex-start;
    }
    .logo a {
        width: 115px;
        padding: 0px 10px;
    }
    .right_btm {
        position: absolute;
        top: 0;
        right: 0;
    }
    .sign-up-btn a {
        padding: 5px 20px;
    }
    .slide .slide__content {
        width: 95%;
    }
    .popular-movies {
        padding: 50px 0px 0px;
    }

    .inr-text {
        margin-top: 20px;
    }
    .inr-text p {
        font-size: 14px;
        line-height: 18px;
    }
    .contact-sec {
        margin-top: -22%;
        padding: 50px 0px;
    }
    .contact-sec .sign-up-btn{
        text-align: left;
    }
    .cont-right {
        margin-top: 20px;
    }
    .abt-img {
        width: 280px;
        height: 170px;
    }
    .abt-entertaiment {
        margin: 0;
        padding: 50px 0px 50px !important;
    }
    .heading-1 h3 {
        font-size: 24px;
        line-height: 30px;
    }
    .inner_banner_ontent h1 {
        font-size: 26px;
        line-height: 30px;
    }
    .offer-img {
        position: absolute;
        left: 22px;
        top: -100px;
        width: 160px;
        height: 350px;
    }
    .abt-access {
        padding: 0px 0px 0px;
    }
    .inner_banner_sec {
        height: 60vh;
    }
    .container-fluid {
        padding: 0px 5%;
    }
    .subscribe-form .subscribe-form-wrap .form-control {
      font-size: 20px;
      line-height: 30px;
    }
   .subscribe-form .subscribe-form-wrap .form-control::placeholder{
        font-size: 20px;
        line-height: 30px;
   }
   .subscribe-head h2 {
    margin-bottom: 10px;
  }
  .subscribe-btn {
    position: relative;
}
.subscribe-sec {
    padding: 20px 0px;
}
.inner_banner_ontent {
    width: 95%;
 }
 .offer-img{
    display: none; 
 }
  .offer-img-2{
    display: none; 
 }
 .heading-1 h2 {
    font-size: 25px;
    line-height: 30px;
}
.contact-footer{
    text-align: center;   
}
.contact-footer .add{
   display: block !important;
}
.contact-footer .add-icon span{
      margin: 0 auto;  
}
.contact-footer .add-icon {
    padding-right: 0px;
    padding-bottom: 20px;
}
.contact-footer .add-text h4 {
    font-size: 16px;
}
.contact-footer .add-text a {
    font-size: 16px !important;
}
.modal-1 .modal-body iframe {
    height: 300px;
}
}

@media (max-width:425px) {
    .entertainment-sec {
        padding: 100px 0px 50px;
    }
    .elementor-10 .elementor-element.elementor-element-9907f7f .eael-circle-inner {
        width: 359px;
        height: 359px;
    }
    .one-place-circle{
        display: none;
    }
    .one-place-img img {
        display: none;
    }
    .pricing-div-box::before {
        height: 44%;
    }
    .imdb-sec {
        margin-top: -20%;
    }
    .contact-sec {
        margin-top: -14%;
    }

}

@media (max-width:375.98px) {
   .access-div {
        padding: 50px 0px 0px;
    }
    .contact-sec {
        margin-top: -20%;
    }
    
} 

@media (max-width:325px) {
    .access-div {
        padding: 0px 0px 0px;
    }
 
}